*{
    margin: 0;
    padding: 0;
}

#search {
    width: 300px;
    background-color: #EEEEEE;
    float: left;
    margin-left: 10px;
    margin-top: 30px;
    height: 250px;
}

#searchHolder {
    margin: 10px;
}

.container {
    height: 500px;
    width: 80%;
    margin: 0 auto;
}

#browse {
    margin: 0 auto;
    width: 220px;
    height: 150px;
    overflow-y: scroll;
}

#content {
     width: 275px;
     height: 150px;
     float: left;
     margin-left: 30px;
     background-color: #EEEEEE;
     padding-top: 20px;
}

#info {
    margin-top: 10px;
    background-color: #EEEEEE;
    width: 275px;
    height: 100px;
}

.genreLink {
    cursor: pointer;
}

.bookLink {
    cursor: pointer;
}

#txtSearch{
    width: 200px;
    height: 30px;

}

#btnSearch{
   width: 100px;
}

#genreHolder {
    margin-top: 20px;
    margin-left: 20px;
}

#playlist {
    width: 275px;
    height: 300px;
    float: left;
    margin-left: 30px;
    background-color: #EEEEEE;
    margin-bottom: 50px;
}




