*{
    margin: 0;
    padding: 0;	
}

body {
    background-color: #CCC;
}

#header {
	width: 100%;
	margin-left: auto;
	margin-right: auto;		
}

#audioThing {
	background-color: #F00;
}

.container {
	width: 100%;
	min-height: 50%;
	background-color: #333;
}

.leftCol {
    width: 30%;
	min-height: 100px;
    float: left;
    background-color: #F00;
}

.midCol {
    width: 40%;
	min-height: 100px;
    float: left;
    background-color: #FF0;
}

.rightCol {
    width: 30%;
	min-height: 100px;
    float: right;
    background-color: #00F;
}

#mediaPlayer {
    height: 100px;
    width: 300px;
    float: left;
    background-color: #096;
}

#albumArt {
	width: 20%;
	float: left;
}

#trackInfo {
	width: 30%;
	float: left;
}

#info {

}

.play {
    margin-right: 10px;
}

#content {
    width: 275px;
    height: 150px;
    float: left;
    background-color: #096;
    padding: 20px;
}

#search {
    width: 300px;
    height: 250px;
    background-color: #096;
    float: left;
}

#searchHolder {
	
}

#txtSearch{
    width: 200px;
    height: 30px;
}

#btnSearch{
    width: 100px;
}

#genreHolder {
    margin-top: 20px;
    margin-left: 20px;
}

#searchResults{
    width: 290px;
    background-color: #096;
    height: 200px;
    overflow-y: scroll;
    float: left;
}



#browse {
    margin: 0 auto;
    width: 220px;
    height: 150px;
    overflow-y: scroll;
}

#playlist {
    width: 275px;
    height: 300px;
    float: left;
    background-color: #096;
    margin-bottom: 50px;
    overflow-y: scroll;
}




.genreLink {
    cursor: pointer;
}

.bookLink {
    cursor: pointer;
}

.remove {
    margin-left: 10px;
}
.songImg {
    float: left;
}